// Define variables for your color scheme

// For example:
$red: #EE0000;
$blue: #0000EE;
$purple: #551A8B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6a6a6a;
$light-gray: #d0d0d0;

$white: #fff;
$black: #000;
