// Define variables for your color scheme

// For example:
$red: #EE0000;
$blue: #0000EE;
$purple: #551A8B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #fff;
$black: #000;
