// Define variables for your color scheme

// For example:
$red: #EE0000;
$blue: #0000ff;
$purple: #8c00e9;
$yellow: #ffff01;
$orange: #ff8b28;
$green: #40ff33;
$gray: #6a6a6a;
$light-gray: #d0d0d0;

$white: #fff;
$black: #000;
