<section class="logo">
  <h1>SARAH PELHAM</h1>
</section>

<div class="main-content container wrap flex">
  <section class="top space-bw wrap flex">
    <div>
      <p>hello@sarahpelham.com<br>Melbourne, Australia</p>
    </div>
    <div>
      <p>GITHUB<br>LINKEDIN</p>
    </div>
  </section>

  <section class="top space-bw wrap flex">
    <div>
      <p>Services:</p>
      <div>
        <div>Full Stack Web Development</div>
        <div>Product Management</div>
        <div>Branding and Content</div>
        <div>SEO Digital Marketing</div>
        <div>UX and UI Design</div>
        <div>Digital Transformation</div>
      </div>
    </div>
    <div>
      <p>Tech:</p>
      <div>
        <div>Ruby on Rails</div>
        <div>JavaScript</div>
        <div>HTML and CSS</div>
        <div>PostgreSQL</div>
        <div>Figma</div>
        <div>Adobe Photoshop</div>
      </div>
    </div>
  </section>


  <h2>Mobile full-screen, tablet half-half, laptop 2/3 & 1/3</h2>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-light">
      😀
    </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
    <div class="card bg-light">
      😀
    </div>
   </div>
  </div>
</div>
