<section class="logo">
  <h1>SARAH PELHAM</h1>
</section>

<div class="main-content container wrap flex">
  <div class="top">
    <section class="space-bw wrap flex">
      <div>
        <p>hello@sarahpelham.com<br>Melbourne, Australia</p>
      </div>
      <div>
        <p class="social-links"><%= link_to "GITHUB", "https://github.com/sarahpelham", target: :_blank %>
        <br>
        <%= link_to "LINKEDIN", "https://www.linkedin.com/in/sarah-m-pelham/", target: :_blank %></p>
      </div>
    </section>

    <section>
      <div class="inner-section">
        <h5>Services and Tech:</h5>
        <div>
          <div><p>Full Stack Web Development</p></div>
          <div><p>Product Management</p></div>
          <div><p>UX UI Design</p></div>
          <div><p>Branding, Content and SEO Marketing</p></div>
        </div>
      </div>
      <div>
        <div>
          <div><p>Ruby on Rails</p></div>
          <div><p>JavaScript</p></div>
          <div><p>HTML and CSS</p></div>
          <div><p>PostgreSQL</p></div>
          <div><p>Figma</p></div>
          <div><p>Adobe Photoshop</p></div>
        </div>
      </div>
    </section>

    <section>
      <div>
        <h5>Projects:</h5>
        <div class="project" data-controller="reveal" data-reveal-hidden-class="hidden">
          <div class="text wrap flex space-bw" data-action="click->reveal#toggle">
            <div>Scented Web App</div>
            <div>2022</div>
          </div>
          <div data-reveal-target="item" class="hidden">This is some words about a project.
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>Learnest Web App</div>
            <div>2022</div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>Standup Finder Web App</div>
            <div>2022</div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>Brand and Content Consulting</div>
            <div>2022</div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>SEO Product Management</div>
            <div>2022</div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>Digital Transformation Consulting</div>
            <div>2021</div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw">
            <div>SEO Content Consulting</div>
            <div>2021</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="bottom">
      <p>Last Updated: June 24, 2022</p>
  </div>
</div>
