a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  transition: color 0.1s ease;

  &:hover {
    color: $gray;
  }
}

.social-links {
  text-align: right;
}

.project-links {
  text-decoration: underline;
}
