a {
  text-decoration: none;
  color: var(--bs-body-color);
  cursor: pointer;
  transition: color 0.1s ease;
}

.social-links {
  text-align: right;
  justify-content: end;
}

.project-links {
  text-decoration: underline;
}

i {
  margin-left: 1rem;
  color: $blue;
}
