// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

main {
  padding: 1.5rem;
  min-height: 100vh;
}

h1 {
  letter-spacing: .01rem;
}

h5 {
  font-size: 14px;
  margin-bottom: 1rem;
}
